DATABASE_URL=postgres://ocas:ocas@localhost:5432/ocas
HOST=0.0.0.0
PORT=3000
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
